@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --main-red: #ff693d;
  --hover-red: #e87957;
}
.text-main-red {
  color: var(--main-red);
}
.hover\:text-hover-red:hover {
  color: var(--hover-red);
}
.bg-main-red {
  background-color: var(--main-red);
}
.hover\:bg-hover-red:hover {
  background-color: var(--hover-red);
}
.border-main-red {
  border-color: var(--main-red);
}
.hover\:bg-main-red-10:hover {
  background-color: rgba(17, 160, 212, 0.1);
}
